
*.pdf

*.vpp~*

# Added by gemignore. Snippet 'Global/OSX'
.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


# Added by gemignore. Snippet 'Java'
*.class

# Package Files #
*.jar
*.war
*.ear


# Added by gemignore. Snippet 'Global/Eclipse'
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


# Added by gemignore. Snippet 'Global/Linux'
.*
!.gitignore
*~

# KDE
.directory


# Added by gemignore. Snippet 'Global/Windows'
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


# Added by gemignore. Snippet 'LaTeX'
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
